<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>La pateada</title>
    <link rel="stylesheet" href="{{ url_for('static', path='style.css') }}">
     <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap">
    
</head>
<body>
    <header>
        <h1>Bienvenido a la pateada</h1>
    </header>

    <div class = "intro">
             <p>
                Con nuestra aplicación vas a poder reservar canchas de futbol de todo tipo de manera rapida y sencilla, verificando su disponibiliad en segundos.
            </p>

    </div>
    <main>
        <div class="container">

            <h2>Mapa de las canchas</h2>
            <p>Este es nuetro mapa interactivo con el cual podras ver la ubicación de las canchas y ver su disponibiliad, si el color de la cancha esta en verde significa que se puede apartar, en caso de estar de color rojo significa   que no puede ser habilitada.</p>
        </div>

        <!-- Mapa de Canchas -->
        <iframe src="{{ url_for('static', path='Canchas sinteticas.html') }}" width="100%" height="600px"></iframe>

    </main>

</body>
</html>

